<div>
  <div>
    <div>
      <img src="../assets/images/youtube.png">
    </div>
     <div fxFlex="60" fxFlexOffset="5"> 
          <div class="search input bar">
            <input type="search" placeholder="search..." />
          </div>  
      </div>
  </div>

  <hr>
  <!-- <div fxLayout="row wrap">
    <button type="submit">All</button>
    <button type="submit">All</button>
    <button type="submit">All</button>
    <button type="submit">All</button>
    </div>
  <hr> -->
  <div  fxLayout="fxFill" fxLayoutAlign="start start">
    <div class="menu"  style="overflow-y: auto;">
        <ul>
           <li>Home</li>
           <li>Trending</li>
           <li>Subscriptions</li>
           <hr>
           <li>Library</li>
           <li>History</li>
           <li>Watch Later</li>
           <li>Liked Videos</li>
           <hr>
           <p>SUBSCRIPTIONS</p>
           <li>Browse Channels</li>
           <hr>
           <p>MORE FROM YOUTUBE</p>
           <li>YouTube Premium</li>
           <li>Movies</li>
           <li>Gaming</li>
           <li>Live</li>
           <li>Fasion & Beauty</li>
           <li>Leaning</li>
           <li>Settings</li>

        </ul>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="17px" fxLayoutAlign="center center">
        <div class="pad"><iframe  src="https://www.youtube.com/embed/BHACKCNDMW8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/YTJg8q9Q940" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/tbodhmmqa-g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/7v6QXZWylpI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/BHACKCNDMW8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/YTJg8q9Q940" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/tbodhmmqa-g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/7v6QXZWylpI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/BHACKCNDMW8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/YTJg8q9Q940" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/tbodhmmqa-g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/7v6QXZWylpI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/BHACKCNDMW8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/YTJg8q9Q940" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/tbodhmmqa-g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="pad"><iframe  src="https://www.youtube.com/embed/7v6QXZWylpI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>

